sudo: false

addons:
    apt_packages:
        - lib32stdc++6  # needed for spcomp
        - python3-pip
        - python3-setuptools

env:
    - SMVERSION=1.10
    - SMBUILDER_REPO=https://github.com/mathiassmichno/sm-builder

before_script:
    # setup submodules
    - git submodule update --init

    # install smbuilder
    - pip3 install --user git+${SMBUILDER_REPO}

    # install the sourcemod compiler
    - SMPACKAGE="http://sourcemod.net/latest.php?os=linux&version=${SMVERSION}"
    - wget -O sourcemod.tar.gz $SMPACKAGE
    - tar xfz sourcemod.tar.gz
    - pushd addons/sourcemod/scripting/
    - chmod +x spcomp
    - PATH+=":$PWD"

    # add dependencies
    - cd include
      # SteamWorks
    - wget https://raw.githubusercontent.com/KyleSanderson/SteamWorks/master/Pawn/includes/SteamWorks.inc

    - popd
    - cp -r ./dependencies/sm-json/addons/sourcemod/scripting/include/* ./addons/sourcemod/scripting/include
      # REST in Pawn
    - cp -r ./dependencies/sm-ripext/pawn/scripting/include/* ./addons/sourcemod/scripting/include

script:
    - smbuilder --flags="-E"

notifications:
    email: true
